body {
  font-family: Arial, Helvetica;
  background-color: white;
}


div {
  margin-left: 5%;
  margin-right: 5%;
}

header{
  margin-top: 0;
  border-style:solid;
  border-bottom-width: 1px;
  border-top-width: 3px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: gray;
  border-color: rgba(110, 110, 110, 0.5);
  overflow: hidden;
  font-size: 15px;
}

.name {
  margin: 2%;
  margin-left: 5%;
  float: left;
  font-size: 25px;
  color: rgb(116, 168, 168);
}

nav ul {
  list-style-type: none;
  margin: 2%;
  margin-right: 5%;
  padding: 0;
  overflow: hidden;
}

nav a{
  text-decoration: none;
  display: block;
  float: right;
  margin-left: 4%;
}

a:link, a:visited {
  color: gray
}

a.current {
  color:black
}

a:hover {
  color: black;
  font-size: 17px;
}

img.portrait {
  position: relative;
  margin-top: 5%;
  margin-bottom: 10%;
  bottom:0;
  border-style: solid;
  border-color: rgb(116, 168, 168);
}

footer {
  margin-top: 100px;
  border-top-style:solid;
  border-top-width: 1px;
  border-color: gray;
  border-color: rgba(110, 110, 110, 0.5);
}

h4 {
  color: rgb(66, 118, 118);
}

.current {
  color: rgb(116, 168, 168);
}

.pageTitles {
  color: rgb(116, 168, 168);
}
