body {
  font-family: Arial, Helvetica;
  background-color: white;
}

header{
  margin-top: 0;
  border-style:solid;
  border-bottom-width: 1px;
  border-top-width: 3px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: gray;
  border-color: rgba(110, 110, 110, 0.5);
  overflow: hidden;
  font-size: 15px;
}


.otherSites{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.otherSites a:link, .otherSites a:visited{
  color: white;
}

.otherSites a:hover{
  color: black;
}

.nameDiv{
  width: 100%;
  margin: auto;
  margin-top: 0%;
  text-align: center;
/*  font-size: 25px;*/
  font-size: 2vw;
  color: white;
}

.nameDiv li{
  float: left;
  width: 33%;
}

.nameDiv li a{
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.name {
  font-size: 1.2em;
  margin: 1%;

}

nav {
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(66, 118, 118)

}

nav li {
  float: right;
  border-right: 1px solid #bbb;
}

nav li:first-child{
  border-right: none;
}

nav li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 600;
}

nav a.current {
  background-color: white;
  color:black
}

nav a:hover {
  color: black;
  /*font-size: 17px;*/
}

.userBanner{
  display: inline-block;
  background-color: rgb(116, 168, 168);
  /*height: 100px;*/
  width: 100%;
  margin-bottom: 0;
}

img.portrait {
 /* position: relative;*/
  /*
  margin-top: 5%;
  margin-bottom: 10%;
  */
  /*
  margin-top: 50px;
  */
  margin-top: 3%;
  display: block;
  width: 20%; 
  max-width: 300px;
  min-width: 150px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: rgb(116, 168, 168);
  /* border-radius: 10px; */
  border-radius: 50%;

}

footer {
  position:fixed;
  margin-top: 100px;
  border-top-style:solid;
  border-top-width: 1px;
  background-color: rgb(66, 118, 118);
  border:0;
  /*border-top: 1px solid rgba(110, 110, 110, 0.5);*/
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

footer p{
  color: white;
  font-weight: 600;
}

h4 {
  color: rgb(66, 118, 118);
}

div .sidebar{
  position: fixed;
  width: 20%;
  height: 100%;
  margin-top: 0;
  margin-right: 80%;
  background-color: rgba(110, 110, 110, 0.5);
}

.fixed{
  /*
  position: fixed;
  */
}


.content {
  /*
  width: 90%;
  background-color: black;
  height: 500px;
  margin-left: 5%;
  margin-right: 5%;
  */

  margin-top: -4px;
  
  width: 100%;
}

.resume{
  background-color: white;
  
}
div .resume{
  width: 79%;
  height: 100%;
  margin-left: 21%;
  float: right;
}

.resume div {
  border-bottom: 1px solid black;
}

.resume ul{
  list-style-type: none;
}

#honors {
  border: 0;
}



.current {
  color: rgb(116, 168, 168);
}

.pageTitles {
  color: rgb(116, 168, 168);
}
